POSTGRES_DB=ecommerce
POSTGRES_USER=ecommerce
POSTGRES_PASSWORD=change-me
DB_NAME=ecommerce
DB_USERNAME=ecommerce
DB_PASSWORD=change-me
DB_PORT=5432
POSTGRES_PORT=5432

REDIS_PORT=6380

KAFKA_PORT=9092
KAFKA_UI_PORT=8090

JWT_SECRET=change-me-to-a-random-base64-secret
JWT_EXPIRATION_MS=86400000
